.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #f0f9eb;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td {
  background: #add8e6;
}

.el-table {
  .success-row {
    background: #f0f9eb;
  }

  .warning-row {
    background: oldlace;
  }

  .el-table__body tr.current-row>td {
    background: #add8e6;
  }
}
